<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-android-zoom" version="0.0.1">

    <name>Android Zoom</name>
    <description>Zoom for Cordova Android</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="AndroidZoom">
                <param name="android-package" value="com.deltragon.cordova.AndroidZoom"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/AndroidZoom.java" target-dir="src/com/deltragon/cordova"/>
    </platform>

</plugin>
